doctype 5
html
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title YOI - Example
    meta(name='description', content='Easy (but powerful) NodeJS Server')
    meta(name='author', content='Javi Jimenez Villar')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/example.css')
    block stylesheet

  body(data-page="#{page}")
    include header
    section
      block section

    script(src='/js/example.js')
    block script
